<small>16:34 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210062d7];c_mode=1<br>
<small>16:34 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210062d7];c_mode2=infestation<br>
<small>16:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>16:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];show_preferences=1<br>
<small>16:35 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=be_special;num=6<br>
<small>16:35 Virgili555 (usr:the alien drone (947))</small> || /datum/admins src=[0x210062d7];simplemake=larva;mob=[0x300002b]<br>
<small>17:17 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000027];show_preferences=1<br>
<small>17:17 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>17:51 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>17:51 Virgili555 (usr:the alien drone (142))</small> || /datum/admins src=[0x210062e0];simplemake=larva;mob=[0x3000029]<br>
<small>18:07 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];show_preferences=1<br>
<small>18:07 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>18:07 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=close<br>
<small>18:07 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];observe=1<br>
<small>18:07 Virgili555 (usr:Peter Demuth)</small> || /datum/admins src=[0x21006287];simplemake=human;mob=[0x3000027]<br>
<small>18:07 Virgili555 (usr:Peter Demuth)</small> || /datum/admins src=[0x21006287];editrights=show<br>
<small>18:08 Virgili555 (usr:Peter Demuth)</small> || /datum/admins src=[0x21006287];editrights=rank;ckey=virgili555<br>
<small>18:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];observe=1<br>
<small>18:25 Virgili555 (usr:Tyson Thomas)</small> || _src_=holder;adminmoreinfo=[0x3000027]<br>
<small>18:25 Virgili555 (usr:Tyson Thomas)</small> || /datum/admins src=[0x2100628c];adminplayeropts=[0x3000027]<br>
<small>18:25 Virgili555 (usr:Tyson Thomas)</small> || /datum/admins src=[0x2100628c];editrights=show<br>
<small>18:25 Virgili555 (usr:Tyson Thomas)</small> || /datum/admins src=[0x2100628c];editrights=rank;ckey=virgili555<br>
<small>18:48 Virgili555 (usr:Virgili555)</small> || _src_=holder;adminmoreinfo=[0x3000025]<br>
<small>18:48 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210062dd];adminplayeropts=[0x3000025]<br>
<small>18:51 Virgili555 (usr:Virgili555)</small> || _src_=holder;adminmoreinfo=[0x3000025]<br>
<small>18:51 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210062dd];adminplayeropts=[0x3000025]<br>
<small>18:51 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210062dd];editrights=show<br>
<small>18:51 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210062dd];editrights=rank;ckey=virgili555<br>
<small>18:51 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];observe=1<br>
<small>18:51 Virgili555 (usr:Collin Randolph)</small> || _src_=holder;adminmoreinfo=[0x3000027]<br>
<small>18:51 Virgili555 (usr:Collin Randolph)</small> || /datum/admins src=[0x210062dd];adminplayeropts=[0x3000027]<br>
<small>18:51 Virgili555 (usr:Collin Randolph)</small> || /datum/admins src=[0x210062dd];editrights=show<br>
<small>21:54 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];ready=1<br>
<small>21:55 Virgili555 (usr:Armando Watson)</small> || /datum/admins src=[0x210062e5];simplemake=larva;mob=[0x3000028]<br>
<small>21:55 Virgili555 (usr:Armando Watson)</small> || /datum/admins src=[0x210062e5];simplemake=drone;mob=[0x3000028]<br>
<small>22:08 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210062ae];c_mode=1<br>
<small>22:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];show_preferences=1<br>
<small>22:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];ready=1<br>
<small>22:09 Virgili555 (usr:Jordan Parkinson)</small> || /datum/admins src=[0x210062ae];simplemake=drone;mob=[0x3000027]<br>
<small>22:09 Virgili555 (usr:Jordan Parkinson)</small> || /datum/admins src=[0x210062ae];traitor=[0x3000028]<br>
<small>22:09 Virgili555 (usr:Jordan Parkinson)</small> || _src_=holder;adminmoreinfo=[0x3000028]<br>
<small>22:09 Virgili555 (usr:Jordan Parkinson)</small> || /datum/admins src=[0x210062ae];simplemake=queen;mob=[0x3000028]<br>
<small>22:10 Virgili555 (usr:Jordan Parkinson)</small> || _src_=holder;adminmoreinfo=[0x3000027]<br>
