<small>03:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];observe=1<br>
<small>03:54 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];show_preferences=1<br>
<small>03:54 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=lobby_music<br>
<small>03:54 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];preference=save<br>
<small>03:54 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];preference=save<br>
<small>03:54 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];preference=save<br>
<small>03:54 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];ready=1<br>
<small>04:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];ready=1<br>
<small>04:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];ready=1<br>
<small>05:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];ready=1<br>
<small>06:19 Virgili555 (usr:Virgili555)</small> || /datum/admins src=%5B0x210062d8%5D&dbsearchckey=&dbsearchadmin=virgili555<br>
<small>09:13 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000028];ready=1<br>
<small>09:16 Virgili555 (usr:the alien queen)</small> || /datum/admins src=[0x210062c2];create_mob=1<br>
<small>09:17 Virgili555 (usr:the alien queen)</small> || /datum/admins src=%5B0x210062c2%5D&filter=&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fmob%2Fliving%2Fcarbon%2Fhuman<br>
<small>09:22 Virgili555 (usr:the alien queen)</small> || _src_=vars;mobToDamage=[0x300002a];adjustDamage=brute<br>
<small>12:27 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>12:28 Virgili555 (usr:the alien drone (773))</small> || /datum/admins src=[0x210062c6];create_mob=1<br>
<small>12:28 Virgili555 (usr:the alien drone (773))</small> || /datum/admins src=%5B0x210062c6%5D&filter=&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fmob%2Fliving%2Fcarbon%2Fhuman<br>
<small>12:28 Virgili555 (usr:the alien drone (773))</small> || _src_=vars;direct_control=[0x3000029]<br>
<small>12:28 Virgili555 (usr:the alien drone (773))</small> || _src_=vars;direct_control=[0x300002b]<br>
<small>12:37 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>12:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>12:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>12:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>12:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>12:38 Virgili555 (usr:the alien drone (390))</small> || /datum/admins src=[0x210062b4];create_mob=1<br>
<small>12:38 Virgili555 (usr:the alien drone (390))</small> || /datum/admins src=%5B0x210062b4%5D&filter=&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fmob%2Fliving%2Fcarbon%2Fhuman<br>
<small>12:39 Virgili555 (usr:the alien drone (390))</small> || _src_=vars;direct_control=[0x300002b]<br>
<small>12:50 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>12:51 Virgili555 (usr:the alien drone (400))</small> || /datum/admins src=[0x210062f2];create_mob=1<br>
<small>12:51 Virgili555 (usr:the alien drone (400))</small> || /datum/admins src=%5B0x210062f2%5D&filter=&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fmob%2Fliving%2Fcarbon%2Fhuman<br>
<small>12:51 Virgili555 (usr:the alien drone (400))</small> || _src_=vars;direct_control=[0x300002b]<br>
<small>13:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>13:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>13:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>13:07 Virgili555 (usr:the alien drone (767))</small> || _src_=vars;direct_control=[0x300002b]<br>
<small>14:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>14:13 Virgili555 (usr:the alien drone (563))</small> || _src_=vars;direct_control=[0x300002b]<br>
<small>14:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>14:39 Virgili555 (usr:the alien drone (438))</small> || _src_=vars;make_skeleton=[0x300002b]<br>
<small>14:39 Virgili555 (usr:the alien drone (438))</small> || _src_=vars;direct_control=[0x300002b]<br>
<small>14:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>14:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>14:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>14:50 Virgili555 (usr:the alien drone (665))</small> || _src_=vars;direct_control=[0x300002b]<br>
<small>15:03 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>15:03 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>15:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000025];ready=1<br>
<small>15:04 Virgili555 (usr:the alien drone (936))</small> || _src_=vars;direct_control=[0x300002b]<br>
