<small>09:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000010];ready=1<br>
<small>09:30 Virgili555 (usr:the alien drone (566))</small> || _src_=vars;direct_control=[0x3000013]<br>
<small>14:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>14:46 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>14:47 Virgili555 (usr:the alien drone (904))</small> || /datum/admins src=[0x21002e58];simplemake=human;mob=[0x300000e]<br>
