<small>21:43 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>21:43 Virgili555 (usr:the alien drone (343))</small> || /datum/admins src=[0x21002e8c];simplemake=human;mob=[0x300000e]<br>
<small>21:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
