<small>05:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>23:00 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>23:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>23:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
