<small>08:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>08:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>08:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>22:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
