<small>14:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>14:11 Virgili555 (usr:the alien drone (741))</small> || _src_=vars;direct_control=[0x3000015]<br>
<small>14:13 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200c384]<br>
<small>14:15 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200c384]<br>
<small>14:15 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x200c384];varnameedit=stage<br>
<small>14:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>14:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>14:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>14:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>14:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>14:54 Virgili555 (usr:the alien drone (623))</small> || _src_=vars;direct_control=[0x3000013]<br>
<small>14:55 Virgili555 (usr:the unknown)</small> || _src_=vars;datumrefresh=[0x3000013]<br>
<small>14:55 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200c291]<br>
<small>14:55 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x200c291];varnameedit=stage<br>
<small>14:56 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200c291]<br>
<small>14:56 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x200c291];varnameedit=stage<br>
<small>15:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>15:07 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];observe=1<br>
<small>15:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>15:12 Virgili555 (usr:the alien drone (948))</small> || _src_=vars;direct_control=[0x300000f]<br>
<small>15:12 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x300000f];varnameedit=paralysis<br>
<small>15:13 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200c376]<br>
<small>15:13 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x200c376];varnameedit=stage<br>
