<small>11:58 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>11:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>11:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>12:00 Virgili555 (usr:the alien drone (360))</small> || _src_=vars;direct_control=[0x3000013]<br>
<small>12:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>12:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];show_preferences=1<br>
<small>12:09 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>12:10 Virgili555 (usr:the alien drone (121))</small> || _src_=vars;direct_control=[0x3000015]<br>
<small>12:31 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>12:32 Virgili555 (usr:the alien drone (633))</small> || _src_=vars;direct_control=[0x3000015]<br>
<small>12:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>12:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=2<br>
<small>12:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];late_join=1<br>
<small>12:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];late_join=1<br>
<small>12:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];late_join=1<br>
<small>12:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>12:57 Virgili555 (usr:the alien drone (536))</small> || _src_=vars;direct_control=[0x3000015]<br>
<small>14:16 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>14:17 Virgili555 (usr:the alien drone (699))</small> || _src_=vars;direct_control=[0x300000d]<br>
<small>14:39 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>14:40 Virgili555 (usr:the alien drone (884))</small> || _src_=vars;direct_control=[0x300000d]<br>
<small>14:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>14:53 Virgili555 (usr:the alien drone (551))</small> || _src_=vars;direct_control=[0x300000d]<br>
<small>20:09 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];show_preferences=1<br>
<small>20:09 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=close<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=lobby_music<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=save<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>20:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=2<br>
<small>20:14 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || Desisionoflife src=[0x300000d];show_preferences=1<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || _src_=prefs;preference=name;task=input<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || Desisionoflife src=[0x300000d];ready=1<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || Desisionoflife src=[0x300000d];ready=2<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || Desisionoflife src=[0x300000d];show_preferences=1<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || _src_=prefs;preference=job;task=menu<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || _src_=prefs;preference=job;task=input;text=Marine<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || _src_=prefs;preference=job;task=close<br>
<small>20:15 Desisionoflife (usr:Desisionoflife)</small> || Desisionoflife src=[0x300000d];ready=1<br>
<small>20:20 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>20:20 Desisionoflife (usr:Desisionoflife)</small> || Desisionoflife src=[0x300000d];show_preferences=1<br>
<small>20:20 Desisionoflife (usr:Desisionoflife)</small> || Desisionoflife src=[0x300000d];ready=1<br>
<small>20:21 Virgili555 (usr:Rebecca Baum)</small> || /datum/admins src=[0x21002eb4];simplemake=human;mob=[0x300000d]<br>
<small>20:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>20:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>20:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>20:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>20:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];show_preferences=1<br>
<small>20:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>20:35 Virgili555 (usr:the alien drone (741))</small> || _src_=vars;datumedit=[0x3000015];varnameedit=ckey<br>
