<small>16:04 Virgili555 (usr:Virgili555)</small> || _src_=holder;adminmoreinfo=[0x3000012]<br>
<small>16:04 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21005d92];adminplayeropts=[0x3000012]<br>
<small>16:04 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21005d92];editrights=show<br>
<small>16:04 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21005d92];editrights=rank;ckey=virgili555<br>
<small>16:05 Virgili555 (usr:Virgili555)</small> || _src_=holder;adminmoreinfo=[0x3000013]<br>
<small>16:08 Revut (usr:Revut)</small> || _src_=holder;adminmoreinfo=[0x300000f]<br>
<small>16:08 Revut (usr:Revut)</small> || /datum/admins src=[0x21005db7];adminplayeropts=[0x300000f]<br>
<small>16:08 Revut (usr:Revut)</small> || /datum/admins src=[0x21005db7];editrights=show<br>
<small>16:08 Revut (usr:Revut)</small> || /datum/admins src=[0x21005db7];editrights=rank;ckey=revut<br>
<small>19:55 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>19:57 Virgili555 (usr:the alien drone (763))</small> || _src_=vars;datumedit=[0x3000014];varnameedit=max_plasma<br>
<small>19:57 Virgili555 (usr:the alien drone (763))</small> || _src_=vars;datumedit=[0x3000014];varnameedit=storedPlasma<br>
<small>19:57 Virgili555 (usr:the alien drone (763))</small> || _src_=vars;datumedit=[0x3000014];varnameedit=plasma_rate<br>
<small>19:57 Virgili555 (usr:the alien queen)</small> || _src_=vars;datumedit=[0x3000014];varnameedit=ckey<br>
<small>19:58 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x3000015];varnameedit=ckey<br>
<small>19:59 Virgili555 (usr:the alien queen)</small> || _src_=vars;datumedit=[0x3000014];varnameedit=ckey<br>
<small>20:02 Virgili555 (usr:the unknown)</small> || _src_=vars;datumrefresh=[0x3000014]<br>
<small>20:02 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200cb9e]<br>
<small>20:02 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200cb9d]<br>
<small>20:02 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x200cb9d];varnameedit=stage<br>
<small>20:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>20:22 Virgili555 (usr:the alien drone (536))</small> || /datum/admins src=[0x21005daf];traitor=[0x3000014]<br>
<small>20:22 Virgili555 (usr:the alien drone (536))</small> || /datum/admins src=[0x21005daf];edit_shuttle_time=1<br>
<small>20:22 Virgili555 (usr:the alien drone (536))</small> || /datum/admins src=[0x21005daf];edit_shuttle_time=1<br>
<small>20:23 Virgili555 (usr:the alien drone (536))</small> || /datum/admins src=[0x21005daf];edit_shuttle_time=1<br>
<small>20:23 Virgili555 (usr:the alien drone (536))</small> || /datum/admins src=[0x21005daf];edit_shuttle_time=1<br>
<small>20:23 Virgili555 (usr:the alien drone (536))</small> || /datum/admins src=[0x21005daf];edit_shuttle_time=1<br>
<small>20:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>20:28 Virgili555 (usr:the alien drone (678))</small> || /datum/admins src=[0x21005dad];call_shuttle=1<br>
<small>20:28 Virgili555 (usr:the alien drone (678))</small> || /datum/admins src=[0x21005dad];edit_shuttle_time=1<br>
<small>20:28 Virgili555 (usr:the alien drone (678))</small> || /datum/admins src=[0x21005dad];edit_shuttle_time=1<br>
<small>20:28 Virgili555 (usr:the alien drone (678))</small> || /datum/admins src=[0x21005dad];edit_shuttle_time=1<br>
<small>21:57 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>21:58 Virgili555 (usr:the alien drone (862))</small> || _src_=vars;direct_control=[0x3000015]<br>
<small>21:58 Virgili555 (usr:the unknown)</small> || _src_=vars;datumrefresh=[0x3000015]<br>
<small>21:58 Virgili555 (usr:the unknown)</small> || _src_=vars;datumrefresh=[0x3000015]<br>
<small>21:58 Virgili555 (usr:the unknown)</small> || _src_=vars;Vars=[0x200cb71]<br>
<small>21:58 Virgili555 (usr:the unknown)</small> || _src_=vars;datumedit=[0x200cb71];varnameedit=stage<br>
