<small>00:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>00:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>00:34 Virgili555 (usr:the alien drone (142))</small> || _src_=vars;datumedit=[0x3000014];varnameedit=incorporeal_move<br>
<small>00:35 Virgili555 (usr:the alien drone (142))</small> || _src_=vars;direct_control=[0x3000015]<br>
<small>00:35 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009cb7];choice=modify<br>
<small>00:35 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009cb7];choice=scan<br>
<small>00:35 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009cb7];choice=auth<br>
<small>00:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>00:49 Virgili555 (usr:the alien drone (96))</small> || _src_=vars;direct_control=[0x3000015]<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=auth<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=modify<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=modify<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=modify<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=scan<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=modify<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=auth<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=63;allowed=1<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=4;allowed=1<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=3;allowed=1<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=1;allowed=1<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=3;allowed=0<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=4;allowed=0<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=63;allowed=0<br>
<small>00:50 Virgili555 (usr:the unknown)</small> || Identification Computer src=[0x2009c8e];choice=access;access_target=1;allowed=0<br>
<small>01:21 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>01:21 Virgili555 (usr:the alien drone (493))</small> || src=[0x300000f];ready=1<br>
<small>01:22 Virgili555 (usr:the alien drone (493))</small> || /datum/admins src=[0x21005dc8];simplemake=human;mob=[0x3000015]<br>
<small>01:22 Virgili555 (usr:the alien drone (493))</small> || Identification Computer src=[0x2009cc9];choice=modify<br>
<small>01:22 Virgili555 (usr:the alien drone (493))</small> || Identification Computer src=[0x2009cc9];choice=scan<br>
<small>01:22 Virgili555 (usr:the alien drone (493))</small> || Identification Computer src=[0x2009cc9];choice=auth<br>
<small>01:22 Virgili555 (usr:the alien drone (493))</small> || Identification Computer src=[0x2009cc9];choice=assign;assign_target=Marine<br>
<small>01:22 Virgili555 (usr:the alien drone (493))</small> || Identification Computer src=[0x2009cc9];choice=assign;assign_target=Commander<br>
<small>01:23 Virgili555 (usr:the alien drone (493))</small> || Identification Computer src=[0x2009cc9];choice=assign;assign_target=Custom<br>
<small>01:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>01:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>01:31 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000f];ready=1<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || /datum/admins src=[0x21005d7a];simplemake=human;mob=[0x3000015]<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=scan<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=auth<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=assign;assign_target=Charlie%20Squad%20Medic<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=assign;assign_target=Charlie%20Squad%20Medic<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=assign;assign_target=Charlie%20Squad%20Medic<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=assign;assign_target=Charlie%20Squad%20Medic<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=assign;assign_target=Charlie%20Squad%20Medic<br>
<small>01:32 Virgili555 (usr:the alien drone (622))</small> || Identification Computer src=[0x2009c71];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>01:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>01:43 Virgili555 (usr:the alien drone (120))</small> || /datum/admins src=[0x21005d86];simplemake=human;mob=[0x3000015]<br>
<small>01:44 Virgili555 (usr:the alien drone (120))</small> || Identification Computer src=[0x2009c80];choice=scan<br>
<small>01:44 Virgili555 (usr:the alien drone (120))</small> || Identification Computer src=[0x2009c80];choice=auth<br>
<small>01:44 Virgili555 (usr:the alien drone (120))</small> || Identification Computer src=[0x2009c80];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>01:44 Virgili555 (usr:the alien drone (120))</small> || Identification Computer src=[0x2009c80];choice=assign;assign_target=Commander<br>
<small>01:44 Virgili555 (usr:the alien drone (120))</small> || Identification Computer src=[0x2009c80];choice=assign;assign_target=Marine<br>
<small>02:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>02:29 Virgili555 (usr:the alien drone (38))</small> || /datum/admins src=[0x21005da3];simplemake=human;mob=[0x3000015]<br>
<small>02:29 Virgili555 (usr:the alien drone (38))</small> || Identification Computer src=[0x2009ca0];choice=scan<br>
<small>02:29 Virgili555 (usr:the alien drone (38))</small> || Identification Computer src=[0x2009ca0];choice=auth<br>
<small>02:30 Virgili555 (usr:the alien drone (38))</small> || Identification Computer src=[0x2009ca0];choice=modify<br>
<small>02:30 Virgili555 (usr:the alien drone (38))</small> || Identification Computer src=[0x2009ca0];choice=scan<br>
<small>02:30 Virgili555 (usr:the alien drone (38))</small> || Identification Computer src=[0x200cc2b];choice=modify<br>
<small>02:30 Virgili555 (usr:the alien drone (38))</small> || Identification Computer src=[0x200cc2b];choice=auth<br>
<small>02:44 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>02:44 Virgili555 (usr:the alien drone (382))</small> || /datum/admins src=[0x21002e99];simplemake=human;mob=[0x300000e]<br>
<small>02:44 Virgili555 (usr:the alien drone (382))</small> || Identification Computer src=[0x2002340];choice=scan<br>
<small>02:44 Virgili555 (usr:the alien drone (382))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>02:44 Virgili555 (usr:the alien drone (382))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>02:44 Virgili555 (usr:the alien drone (382))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>02:44 Virgili555 (usr:the alien drone (382))</small> || Identification Computer src=[0x2002340];choice=scan<br>
<small>02:45 Virgili555 (usr:the alien drone (382))</small> || Identification Computer src=[0x2002340];choice=scan<br>
<small>02:45 Virgili555 (usr:the alien drone (382))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>02:55 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>02:55 Virgili555 (usr:the alien drone (157))</small> || /datum/admins src=[0x21002ec1];simplemake=human;mob=[0x300000e]<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=scan<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=modify<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Commander<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>02:56 Virgili555 (usr:the alien drone (157))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:11 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>03:11 Virgili555 (usr:the alien drone (356))</small> || /datum/admins src=[0x21002eb0];simplemake=human;mob=[0x300000e]<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=scan<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:12 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:13 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Researcher<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:16 Virgili555 (usr:the alien drone (356))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:33 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || /datum/admins src=[0x21002eb4];simplemake=human;mob=[0x300000e]<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=scan<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=1<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=1<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=1<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=access;access_target=301;allowed=0<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=access;access_target=302;allowed=0<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=access;access_target=300;allowed=0<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Commander<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>03:34 Virgili555 (usr:the alien drone (728))</small> || Identification Computer src=[0x2002340];choice=modify<br>
<small>04:09 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>04:10 Virgili555 (usr:the alien drone (373))</small> || /datum/admins src=[0x21002ea7];simplemake=human;mob=[0x300000e]<br>
<small>04:10 Virgili555 (usr:the alien drone (373))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>04:10 Virgili555 (usr:the alien drone (373))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>04:10 Virgili555 (usr:the alien drone (373))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>04:10 Virgili555 (usr:the alien drone (373))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Alpha%20Squad%20Medic<br>
<small>04:27 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || /datum/admins src=[0x21002ece];simplemake=human;mob=[0x300000e]<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || CentCom Identification Computer src=[0x2005fbf];choice=scan<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || CentCom Identification Computer src=[0x2005fbf];choice=modify<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || CentCom Identification Computer src=[0x2005fbf];choice=auth<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || CentCom Identification Computer src=[0x2005fbf];choice=assign;assign_target=VIP%20Guest<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || CentCom Identification Computer src=[0x2005fbf];choice=assign;assign_target=Death%20Commando<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || CentCom Identification Computer src=[0x2005fbf];choice=assign;assign_target=Medical%20Officer<br>
<small>04:28 Virgili555 (usr:the alien drone (451))</small> || CentCom Identification Computer src=[0x2005fbf];choice=assign;assign_target=Custom<br>
<small>04:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>04:36 Virgili555 (usr:the alien drone (467))</small> || /datum/admins src=[0x21002e66];simplemake=human;mob=[0x300000e]<br>
<small>04:36 Virgili555 (usr:the alien drone (467))</small> || Identification Computer src=[0x2002340];choice=modify<br>
<small>04:36 Virgili555 (usr:the alien drone (467))</small> || Identification Computer src=[0x2002340];choice=scan<br>
<small>04:36 Virgili555 (usr:the alien drone (467))</small> || Identification Computer src=[0x2002340];choice=auth<br>
<small>04:36 Virgili555 (usr:the alien drone (467))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>04:36 Virgili555 (usr:the alien drone (467))</small> || Identification Computer src=[0x2002340];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>17:27 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210096c8];c_mode=1<br>
<small>17:27 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210096c8];c_mode2=extended<br>
<small>17:27 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>17:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=2<br>
<small>17:33 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=scan<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=auth<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=auth<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=auth<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=auth<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || _src_=vars;datumedit=[0x200cc52];varnameedit=req_access<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=auth<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=auth<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || _src_=vars;datumedit=[0x200cc52];varnameedit=req_access<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || _src_=vars;datumrefresh=[0x200cc52]<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || _src_=vars;datumrefresh=[0x200cc52]<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=auth<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=access;access_target=301;allowed=1<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=access;access_target=301;allowed=0<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>17:34 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=assign;assign_target=Alpha%20Squad%20Medic<br>
<small>17:35 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=assign;assign_target=Alpha%20Squad%20Engineer<br>
<small>17:35 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=assign;assign_target=Commander<br>
<small>17:35 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=assign;assign_target=Marine<br>
<small>17:35 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=assign;assign_target=Alpha%20Squad%20Leader<br>
<small>17:35 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=modify<br>
<small>17:35 Virgili555 (usr:Lanny Sidower)</small> || Identification Computer src=[0x200cc52];choice=scan<br>
<small>19:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:14 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:15 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];show_preferences=1<br>
<small>19:15 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>19:15 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>19:15 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>19:15 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>19:15 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=close<br>
<small>19:15 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=save<br>
<small>19:27 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:31 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>20:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=modify<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=scan<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=modify<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=auth<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=access;access_target=301;allowed=1<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=access;access_target=301;allowed=0<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=modify<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=scan<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=scan<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=modify<br>
<small>20:26 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=auth<br>
<small>20:28 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=modify<br>
<small>20:28 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b8];choice=scan<br>
<small>20:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>20:39 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x200a916];varnameedit=req_access<br>
<small>20:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>20:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>20:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>20:48 Virgili555 (usr:Bradley Joyce)</small> || PDA src=[0x200c3ba];choice=Close<br>
<small>20:57 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>21:07 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>21:07 Virgili555 (usr:Bradley Joyce)</small> || PDA-Bradley Joyce (Commander) src=[0x200c2c5];choice=Close<br>
<small>21:07 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b7];choice=modify<br>
<small>21:07 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b7];choice=scan<br>
<small>21:07 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b7];choice=modify<br>
<small>21:08 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b7];choice=auth<br>
<small>21:08 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099b7];choice=access;access_target=300;allowed=1<br>
<small>21:46 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>21:47 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099df];choice=scan<br>
<small>21:47 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20099df];choice=auth<br>
<small>22:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>22:11 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:11 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:11 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:11 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:11 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:11 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x2009897];varnameedit=req_access<br>
<small>22:12 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:12 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:12 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:12 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:12 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x2009897];varnameedit=req_access<br>
<small>22:12 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:12 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009897];operation=login<br>
<small>22:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>22:25 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009888];operation=login<br>
<small>22:25 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009888];operation=codered<br>
<small>22:25 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x20098db];varnameedit=req_access_txt<br>
<small>22:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x20098db];varnameedit=req_access_txt<br>
<small>22:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x20098db];varnameedit=req_access<br>
<small>22:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x20098db];varnameedit=req_access<br>
<small>22:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumrefresh=[0x20098db]<br>
<small>22:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumrefresh=[0x20098db]<br>
<small>22:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=login<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codered<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codegreen<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codered<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codegreen<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codered<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codegreen<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codered<br>
<small>22:31 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2009889];operation=codegreen<br>
