<small>01:31 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>01:31 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21002ea8];c_mode=1<br>
<small>01:31 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21002ea8];c_mode2=extended<br>
<small>01:31 Virgili555 (usr:Cara Garrison)</small> || /datum/admins src=[0x21002ea8];simplemake=hunter;mob=[0x300000d]<br>
<small>01:34 Virgili555 (usr:Cara Garrison)</small> || _src_=vars;direct_control=[0x300000d]<br>
<small>01:55 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>01:56 Virgili555 (usr:Gabriela Burkett)</small> || Gabriela Burkett src=[0x300000d];mach_close=mobalien%20hunter%20(606)<br>
<small>02:11 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>02:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>02:24 Virgili555 (usr:Karyn Fiscina)</small> || Karyn Fiscina src=[0x300000d];mach_close=mobalien%20hunter%20(373)<br>
<small>02:25 Virgili555 (usr:Karyn Fiscina)</small> || _src_=vars;direct_control=[0x300000c]<br>
<small>02:33 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>02:33 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>02:33 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>03:01 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>03:16 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>03:17 Virgili555 (usr:Manley Shafer)</small> || _src_=vars;direct_control=[0x300000c]<br>
<small>03:17 Virgili555 (usr:the alien hunter (57))</small> || _src_=vars;datumedit=[0x300000c];varnameedit=neutralised<br>
<small>03:19 Virgili555 (usr:the alien hunter (57))</small> || _src_=vars;direct_control=[0x300000d]<br>
<small>03:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>03:40 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>03:40 Virgili555 (usr:Yasmin Dean)</small> || /datum/admins src=[0x21002e7f];simplemake=drone;mob=[0x300000d]<br>
<small>03:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>04:00 Virgili555 (usr:Damien Potter)</small> || /datum/admins src=[0x21002ea8];simplemake=human;mob=[0x300000d]<br>
<small>04:00 Virgili555 (usr:Damien Potter)</small> || /datum/admins src=[0x21002ea8];simplemake=drone;mob=[0x300000c]<br>
<small>04:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>04:08 Virgili555 (usr:Trinity Sullivan)</small> || /datum/admins src=[0x21002ec0];simplemake=drone;mob=[0x300000d]<br>
<small>11:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>11:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>11:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000009];ready=1<br>
<small>11:20 Virgili555 (usr:Dalton White)</small> || /datum/admins src=[0x21002e7d];simplemake=hunter;mob=[0x300000d]<br>
<small>11:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000c];ready=1<br>
<small>11:31 Virgili555 (usr:Fiona Murray)</small> || /datum/admins src=[0x21002eca];simplemake=drone;mob=[0x300000d]<br>
<small>17:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>17:08 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x21009401];simplemake=drone;mob=[0x3000012]<br>
<small>17:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>17:24 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x21006786];simplemake=drone;mob=[0x3000012]<br>
<small>19:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];late_join=1<br>
<small>19:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];SelectedJob=Commander<br>
<small>19:43 Virgili555 (usr:Bradley Joyce)</small> || PDA-Bradley Joyce (Commander) src=[0x200d8d0];choice=Light<br>
<small>19:43 Virgili555 (usr:Bradley Joyce)</small> || PDA-Bradley Joyce (Commander) src=[0x200d8d0];choice=Close<br>
<small>19:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];late_join=1<br>
<small>19:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];SelectedJob=Commander<br>
<small>19:57 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x20097a8];operation=login<br>
<small>19:57 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x20097a8];operation=codered<br>
<small>19:57 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x20097a8];operation=codegreen<br>
<small>19:57 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x20097a8];operation=logout<br>
