<small>14:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>14:08 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2008c04];operation=login<br>
<small>14:08 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2008c04];operation=callshuttle<br>
<small>14:08 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2008c04];operation=callshuttle2<br>
<small>14:08 Virgili555 (usr:Bradley Joyce)</small> || Communications Console src=[0x2008c04];operation=codered<br>
<small>14:09 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x2100936f];edit_shuttle_time=1<br>
<small>14:09 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x2100936f];edit_shuttle_time=1<br>
<small>14:09 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x2100936f];edit_shuttle_time=1<br>
<small>14:15 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>14:15 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>14:15 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000012];ready=1<br>
<small>14:16 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097a6];choice=modify<br>
<small>14:16 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097a6];choice=scan<br>
<small>14:16 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097a6];choice=auth<br>
<small>14:22 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210067c8];c_mode=1<br>
<small>14:22 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210067c8];c_mode2=infestation<br>
<small>14:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=2<br>
<small>14:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];observe=1<br>
<small>14:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=holder;adminmoreinfo=[0x3000012]<br>
<small>14:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;Vars=[0x3000012]<br>
<small>14:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x3000012];varnameedit=timeofdeath<br>
<small>14:26 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x3000012];varnameedit=key<br>
<small>14:26 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:26 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:26 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:40 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>14:48 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>14:49 Virgili555 (usr:the alien drone (21))</small> || /datum/admins src=[0x210067a3];simplemake=human;mob=[0x3000013]<br>
<small>14:51 Virgili555 (usr:the alien drone (21))</small> || _src_=vars;datumedit=[0x200aa1b];varnameedit=req_access<br>
<small>14:51 Virgili555 (usr:the alien drone (21))</small> || Identification Computer src=[0x200aa1b];choice=scan<br>
<small>14:51 Virgili555 (usr:the alien drone (21))</small> || Identification Computer src=[0x200aa1b];choice=auth<br>
<small>14:57 Virgili555 (usr:the alien drone (21))</small> || /datum/admins src=[0x210067a3];edit_shuttle_time=1<br>
<small>15:00 Virgili555 (usr:the alien drone (21))</small> || /datum/admins src=[0x210067a3];edit_shuttle_time=1<br>
<small>15:00 Virgili555 (usr:the alien drone (21))</small> || /datum/admins src=[0x210067a3];edit_shuttle_time=1<br>
<small>17:49 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>17:49 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006784];c_mode=1<br>
<small>17:49 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006784];c_mode2=extended<br>
<small>17:50 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009779];choice=scan<br>
<small>17:50 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009779];choice=auth<br>
<small>17:50 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009779];choice=assign;assign_target=Sulaco%20Medic<br>
<small>18:00 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>18:00 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>18:00 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=auth<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=scan<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=auth<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=500;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=502;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=501;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=504;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=503;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=400;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=311;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=313;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=312;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=314;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=315;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=319;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=319;allowed=0<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=317;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=317;allowed=0<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=318;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=320;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=319;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=317;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=316;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=309;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=308;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=306;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=501;allowed=1<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=access;access_target=400;allowed=0<br>
<small>18:01 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x2009799];choice=scan<br>
<small>18:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:11 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097cb];choice=scan<br>
<small>18:11 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097cb];choice=auth<br>
<small>18:11 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097cb];choice=access;access_target=502;allowed=1<br>
<small>18:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>18:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>18:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>18:18 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098a0];choice=scan<br>
<small>18:18 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098a0];choice=auth<br>
<small>18:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:25 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097d8];choice=auth<br>
<small>18:25 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097d8];choice=auth<br>
<small>18:25 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097d8];choice=scan<br>
<small>18:25 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097d8];choice=auth<br>
<small>18:29 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:29 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200d94c];choice=auth<br>
<small>18:29 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200d94c];choice=scan<br>
<small>18:29 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200d94c];choice=auth<br>
<small>18:30 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097e1];choice=modify<br>
<small>18:30 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097e1];choice=scan<br>
<small>18:30 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20097e1];choice=auth<br>
<small>18:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:39 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098d0];choice=auth<br>
<small>18:39 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098d0];choice=scan<br>
<small>18:39 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098d0];choice=auth<br>
<small>18:45 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:46 Virgili555 (usr:Bradley Joyce)</small> || The marine command radio headset src=[0x200af6e];ch_name=Yellow%20Team;listen=1<br>
<small>18:46 Virgili555 (usr:Bradley Joyce)</small> || The marine command radio headset src=[0x200af6e];ch_name=Red%20Squad;listen=1<br>
<small>18:46 Virgili555 (usr:Bradley Joyce)</small> || The marine command radio headset src=[0x200af6e];ch_name=Orange%20Group;listen=1<br>
<small>18:46 Virgili555 (usr:Bradley Joyce)</small> || The marine command radio headset src=[0x200af6e];ch_name=White%20Cadre;listen=1<br>
<small>18:46 Virgili555 (usr:Bradley Joyce)</small> || The marine command radio headset src=[0x200af6e];ch_name=Green%20Force;listen=1<br>
<small>18:46 Virgili555 (usr:Bradley Joyce)</small> || The marine command radio headset src=[0x200af6e];ch_name=Blue%20Band;listen=1<br>
<small>18:46 Virgili555 (usr:Bradley Joyce)</small> || The marine command radio headset src=[0x200af6e];ch_name=Black%20Commando;listen=1<br>
<small>18:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:52 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098bd];choice=modify<br>
<small>18:53 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098bd];choice=modify<br>
<small>18:53 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098bd];choice=scan<br>
<small>18:53 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098bd];choice=modify<br>
<small>18:53 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x20098bd];choice=auth<br>
<small>19:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=2<br>
<small>19:20 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:20 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x210067a1];simplemake=sentinel;mob=[0x3000012]<br>
<small>19:24 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210067b1];c_mode=1<br>
<small>19:24 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210067b1];c_mode2=infestation<br>
<small>19:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:24 Revut (usr:Revut)</small> || Revut src=[0x3000012];ready=1<br>
<small>19:24 Virgili555 (usr:the alien drone (504))</small> || /datum/admins src=[0x210067b1];traitor=[0x3000015]<br>
<small>19:25 Virgili555 (usr:the alien drone (504))</small> || /datum/admins src=[0x210067b1];simplemake=hunter;mob=[0x3000014]<br>
<small>19:31 Revut (usr:Revut)</small> || Revut src=[0x3000011];ready=1<br>
<small>19:31 Revut (usr:Revut)</small> || Revut src=[0x3000011];ready=2<br>
<small>19:32 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
