<small>02:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>02:52 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210093ce];c_mode=1<br>
<small>02:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>02:56 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210067ae];c_mode=1<br>
<small>02:56 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x210067ae];c_mode2=extended<br>
<small>02:58 Virgili555 (usr:Johnny Basmanoff)</small> || PDA-Johnny Basmanoff (Commander) src=[0x200c1be];choice=Light<br>
<small>02:58 Virgili555 (usr:Johnny Basmanoff)</small> || PDA-Johnny Basmanoff (Commander) src=[0x200c1be];choice=Close<br>
<small>15:46 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009809];tp=60<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009809];tp=60<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009809];tp=60<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009809];timing=1<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Bradley Joyce src=[0x3000012];mach_close=computer<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009809];tp=60<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009809];timing=1<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200a9cb];tp=60<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200a9cb];tp=60<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200a9cb];tp=60<br>
<small>15:47 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200a9cb];timing=1<br>
<small>16:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];observe=1<br>
<small>16:05 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x3000012];varnameedit=timeofdeath<br>
<small>16:06 Virgili555 (usr:the new player)</small> || The new player src=[0x3000013];manifest=1<br>
<small>16:06 Virgili555 (usr:the new player)</small> || The new player src=[0x3000013];late_join=1<br>
<small>16:06 Virgili555 (usr:the new player)</small> || The new player src=[0x3000013];SelectedJob=Military%20Officer<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x20097f3];tp=60<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x20097f3];tp=60<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x20097f3];tp=60<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x20097f3];timing=1<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x20097f3];timing=0<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x20097f3];timing=1<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x20097f3];timing=0<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200aa14];tp=60<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200aa14];tp=60<br>
<small>16:07 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200aa14];timing=1<br>
<small>16:08 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200aa14];timing=0<br>
<small>16:08 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200aa14];timing=1<br>
<small>16:08 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200aa14];timing=0<br>
<small>16:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];show_preferences=1<br>
<small>16:29 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=lobby_music<br>
<small>16:29 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=save<br>
<small>16:29 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>16:29 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];show_preferences=1<br>
<small>16:29 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>16:30 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009800];tp=60<br>
<small>16:30 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009800];tp=60<br>
<small>16:30 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009800];tp=60<br>
<small>16:30 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009800];timing=1<br>
<small>16:30 Virgili555 (usr:Bradley Joyce)</small> || Cell 1 src=[0x2009800];timing=0<br>
<small>17:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>17:28 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x21006727];simplemake=human;mob=[0x3000013]<br>
<small>17:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=scan<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=auth<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=502;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=501;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=504;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=600;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=600;allowed=0<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=503;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=504;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=501;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=500;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=500;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=400;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=300;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=316;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=317;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=318;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=319;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=320;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=503;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=601;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=600;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=503;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=504;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=500;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=500;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=500;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=500;allowed=1<br>
<small>18:06 Virgili555 (usr:Bradley Joyce)</small> || Identification Computer src=[0x200aa5a];choice=access;access_target=504;allowed=1<br>
<small>18:08 Virgili555 (usr:Bradley Joyce)</small> || PDA-Bradley Joyce (Commander) src=[0x200d921];choice=Light<br>
<small>18:08 Virgili555 (usr:Bradley Joyce)</small> || PDA-Bradley Joyce (Commander) src=[0x200d921];choice=Close<br>
<small>18:08 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x21006709];simplemake=human;mob=[0x3000013]<br>
<small>18:09 Virgili555 (usr:Bradley Joyce)</small> || /datum/admins src=[0x21006709];simplemake=drone;mob=[0x3000011]<br>
<small>18:09 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x2008de9];varnameedit=disabled<br>
<small>18:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:36 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:36 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;datumedit=[0x3000012];varnameedit=incorporeal_move<br>
<small>18:50 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>18:53 Virgili555 (usr:Bradley Joyce)</small> || Cell 2 src=[0x200a960];tp=60<br>
<small>19:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>19:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>20:13 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>20:13 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];late_join=1<br>
<small>20:13 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];SelectedJob=Commander<br>
<small>20:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>20:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>20:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];show_preferences=1<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];show_preferences=1<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>20:53 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>21:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000011];ready=1<br>
<small>21:39 Virgili555 (usr:Bradley Joyce)</small> || _src_=vars;direct_control=[0x3000013]<br>
<small>21:39 Virgili555 (usr:the alien hunter (279))</small> || _src_=vars;direct_control=[0x3000012]<br>
