<small>01:20 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];show_preferences=1<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=close<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=save<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>01:31 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];show_preferences=1<br>
<small>01:31 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>01:32 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x300000e];ready=1<br>
<small>01:32 Virgili555 (usr:Colby Meyers)</small> || Cell 2 src=[0x2008a8a];tp=60<br>
<small>01:32 Virgili555 (usr:Colby Meyers)</small> || Cell 2 src=[0x2008a8a];tp=60<br>
<small>01:32 Virgili555 (usr:Colby Meyers)</small> || Cell 2 src=[0x2008a8a];tp=60<br>
<small>01:32 Virgili555 (usr:Colby Meyers)</small> || Cell 2 src=[0x2008a8a];tp=60<br>
<small>01:36 Virgili555 (usr:Colby Meyers)</small> || Cell 1 src=[0x2008beb];tp=60<br>
<small>01:36 Virgili555 (usr:Colby Meyers)</small> || Cell 1 src=[0x2008beb];timing=1<br>
