<small>02:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>02:22 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f3f];simplemake=drone;mob=[0x3000017]<br>
<small>03:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>03:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=2<br>
<small>03:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];observe=1<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || _src_=holder;adminmoreinfo=[0x3000013]<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];adminplayeropts=[0x3000013]<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];editrights=show<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];jobban2=[0x3000013]<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];jobban3=Commander;jobban4=[0x3000013]<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];jobban3=Commander;jobban4=[0x3000013]<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];show_preferences=1<br>
<small>03:37 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>03:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];show_preferences=1<br>
<small>03:38 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>03:38 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];adminplayeropts=[0x3000013]<br>
<small>03:38 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];jobban2=[0x3000013]<br>
<small>03:38 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];jobban3=Commander;jobban4=[0x3000013]<br>
<small>03:38 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x2100a02e];dbbanedit=unban;dbbanid=1<br>
<small>04:04 Virgili555 (usr:Virgili555)</small> || _src_=holder;adminmoreinfo=[0x3000016]<br>
<small>04:04 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];adminplayeropts=[0x3000016]<br>
<small>04:04 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];editrights=show<br>
<small>04:04 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];jobban2=[0x3000016]<br>
<small>04:04 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];jobban3=alien%20candidate;jobban4=[0x3000016]<br>
<small>04:05 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];show_preferences=1<br>
<small>04:05 Virgili555 (usr:Virgili555)</small> || _src_=holder;adminmoreinfo=[0x3000016]<br>
<small>04:05 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];adminplayeropts=[0x3000016]<br>
<small>04:05 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];jobban2=[0x3000016]<br>
<small>04:05 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];jobban3=alien%20candidate;jobban4=[0x3000016]<br>
<small>04:05 Virgili555 (usr:Virgili555)</small> || /datum/admins src=[0x21006f4b];dbbanedit=unban;dbbanid=2<br>
<small>04:46 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>04:46 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];show_preferences=1<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];show_preferences=1<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=close<br>
<small>04:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>04:48 Virgili555 (usr:Colby Meyers)</small> || ColMarTech src=[0x200bf92];vend=[0x2100a81c]<br>
<small>05:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:10 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];show_preferences=1<br>
<small>05:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>05:10 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>05:11 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>05:11 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Commander<br>
<small>05:11 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=close<br>
<small>05:11 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];preference=save<br>
<small>05:11 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];preference=save<br>
<small>05:11 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];preference=save<br>
<small>05:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:23 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:37 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:57 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x200e0a7]<br>
<small>06:11 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>06:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>06:21 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x200e0a5]<br>
<small>10:52 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>14:21 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>14:22 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=[0x21006f77];simplemake=hunter;mob=[0x3000017]<br>
<small>14:22 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=[0x21006f77];create_mob=1<br>
<small>14:22 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=[0x21006f77];quick_create_object=1<br>
<small>14:23 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=%5B0x21006f77%5D&filter=facehugger&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fobj%2Fitem%2Fclothing%2Fmask%2Ffacehugger<br>
<small>14:23 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=%5B0x21006f77%5D&filter=facehugger&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fobj%2Fitem%2Fclothing%2Fmask%2Ffacehugger<br>
<small>14:23 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=%5B0x21006f77%5D&filter=facehugger&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fobj%2Fitem%2Fclothing%2Fmask%2Ffacehugger<br>
<small>14:23 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=%5B0x21006f77%5D&filter=facehugger&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fobj%2Fitem%2Fclothing%2Fmask%2Ffacehugger<br>
<small>14:23 Virgili555 (usr:Johan Petrov)</small> || /datum/admins src=%5B0x21006f77%5D&filter=facehugger&offset=x%2Cy%2Cz&offset_type=relative&object_count=1&object_dir=2&object_name=&object_where=onfloor&object_list=%2Fobj%2Fitem%2Fclothing%2Fmask%2Ffacehugger<br>
<small>16:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>16:56 Virgili555 (usr:Todd Faqua)</small> || /datum/admins src=[0x21006f68];simplemake=hunter;mob=[0x3000017]<br>
<small>16:56 Virgili555 (usr:Todd Faqua)</small> || _src_=vars;direct_control=[0x3000013]<br>
<small>17:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];late_join=1<br>
<small>17:06 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];SelectedJob=Commander<br>
<small>17:07 Virgili555 (usr:Homer Stroh)</small> || _src_=vars;direct_control=[0x3000019]<br>
<small>17:07 Virgili555 (usr:the alien hunter (788))</small> || _src_=vars;direct_control=[0x3000017]<br>
<small>17:15 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];late_join=1<br>
<small>17:25 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];SelectedJob=Commander<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];show_preferences=1<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=input;text=Military%20Officer<br>
<small>19:39 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=close<br>
<small>19:39 Virgili555 (usr:Eliot Wise)</small> || PDA-Eliot Wise (Military Officer) src=[0x200e244];choice=41<br>
<small>19:39 Virgili555 (usr:Eliot Wise)</small> || PDA-Eliot Wise (Military Officer) src=[0x200e244];choice=Refresh<br>
<small>19:39 Virgili555 (usr:Eliot Wise)</small> || PDA-Eliot Wise (Military Officer) src=[0x200e244];choice=Refresh<br>
<small>19:39 Virgili555 (usr:Eliot Wise)</small> || PDA-Eliot Wise (Military Officer) src=[0x200e244];choice=Refresh<br>
<small>19:39 Virgili555 (usr:Eliot Wise)</small> || PDA-Eliot Wise (Military Officer) src=[0x200e244];choice=Close<br>
