<small>00:36 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>00:37 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>00:37 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>00:37 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>00:37 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;direct_control=[0x3000016]<br>
<small>00:38 Virgili555 (usr:the alien drone (389))</small> || _src_=vars;direct_control=[0x3000017]<br>
<small>00:44 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>00:45 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>00:45 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>00:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>00:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>00:56 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>00:57 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;regenerateicons=[0x3000013]<br>
<small>00:57 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000013]<br>
<small>00:57 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000013]<br>
<small>00:57 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000013]<br>
<small>00:57 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;direct_control=[0x3000013]<br>
<small>00:58 Virgili555 (usr:the alien drone (177))</small> || _src_=vars;datumrefresh=[0x3000013]<br>
<small>00:58 Virgili555 (usr:the alien drone (177))</small> || _src_=vars;datumedit=[0x3000013];varnameedit=lying<br>
<small>00:58 Virgili555 (usr:the alien drone (177))</small> || _src_=vars;datumedit=[0x3000013];varnameedit=canmove<br>
<small>00:58 Virgili555 (usr:the alien drone (177))</small> || _src_=vars;regenerateicons=[0x3000013]<br>
<small>00:58 Virgili555 (usr:the alien drone (177))</small> || _src_=vars;datumrefresh=[0x3000013]<br>
<small>01:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>01:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];late_join=1<br>
<small>01:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];SelectedJob=Commander<br>
<small>01:46 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;direct_control=[0x3000019]<br>
<small>01:58 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>01:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>01:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>02:00 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumedit=[0x3000016];varnameedit=paralysis<br>
<small>02:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>02:27 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>02:27 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;mobToDamage=[0x3000016];adjustDamage=brute<br>
<small>02:27 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;mobToDamage=[0x3000016];adjustDamage=brute<br>
<small>02:38 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>02:39 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumedit=[0x3000013];varnameedit=stat<br>
<small>02:39 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumedit=[0x3000013];varnameedit=stat<br>
<small>02:39 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumedit=[0x3000013];varnameedit=stat<br>
<small>02:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>02:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>02:47 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>02:48 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000013]<br>
