<small>01:07 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>01:20 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>17:54 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>17:55 Virgili555 (usr:Cesar Moore)</small> || PDA-Cesar Moore (Military Officer) src=[0x200e0d5];choice=Light<br>
<small>17:55 Virgili555 (usr:Cesar Moore)</small> || PDA-Cesar Moore (Military Officer) src=[0x200e0d5];choice=Close<br>
<small>18:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>18:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>18:08 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>18:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>18:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>18:22 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>18:32 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>18:43 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>18:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>18:53 Virgili555 (usr:Richard Armstrong)</small> || _src_=vars;direct_control=[0x3000016]<br>
<small>18:54 Virgili555 (usr:the alien hunter (918))</small> || _src_=vars;direct_control=[0x3000017]<br>
<small>18:55 Virgili555 (usr:Richard Armstrong)</small> || _src_=vars;Vars=[0x200e0cb]<br>
<small>18:55 Virgili555 (usr:Richard Armstrong)</small> || _src_=vars;datumedit=[0x200e0cb];varnameedit=item_state<br>
<small>18:56 Virgili555 (usr:Richard Armstrong)</small> || _src_=vars;datumrefresh=[0x3000017]<br>
<small>18:56 Virgili555 (usr:Richard Armstrong)</small> || _src_=vars;direct_control=[0x3000016]<br>
<small>18:56 Virgili555 (usr:the alien hunter (918))</small> || _src_=vars;direct_control=[0x3000017]<br>
<small>19:13 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>20:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>20:34 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>20:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>20:35 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>20:58 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
