<small>03:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>03:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>03:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>03:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];late_join=1<br>
<small>03:53 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];SelectedJob=Marine<br>
<small>03:55 Revut (usr:Revut)</small> || Revut src=[0x3000018];late_join=1<br>
<small>03:55 Revut (usr:Revut)</small> || Revut src=[0x3000018];SelectedJob=Marine<br>
<small>03:55 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f7f];simplemake=larva;mob=[0x3000016]<br>
<small>03:56 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumedit=[0x300001b];varnameedit=sleeping<br>
<small>04:02 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>04:03 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>04:03 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>04:03 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>04:03 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>04:05 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumedit=[0x3000016];varnameedit=health<br>
<small>04:06 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>04:06 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>04:06 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;mobToDamage=[0x3000016];adjustDamage=brute<br>
<small>04:06 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;datumrefresh=[0x3000016]<br>
<small>04:07 Virgili555 (usr:Colby Meyers)</small> || _src_=vars;mobToDamage=[0x3000018];adjustDamage=brute<br>
<small>04:16 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>04:24 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:01 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];show_preferences=1<br>
<small>05:01 Virgili555 (usr:Virgili555)</small> || _src_=prefs;preference=job;task=menu<br>
<small>05:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];late_join=1<br>
<small>05:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];SelectedJob=Commander<br>
<small>05:04 Virgili555 (usr:Colby Meyers)</small> || PDA-Colby Meyers (Commander) src=[0x200e01a];choice=Light<br>
<small>05:05 Virgili555 (usr:Colby Meyers)</small> || PDA-Colby Meyers (Commander) src=[0x200e01a];choice=Close<br>
<small>05:05 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f66];simplemake=drone;mob=[0x3000017]<br>
<small>05:05 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006ce2];move=1<br>
<small>05:05 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006ce2];move=1<br>
<small>05:17 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:17 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:17 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=2<br>
<small>05:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];manifest=1<br>
<small>05:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];late_join=1<br>
<small>05:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];late_join=1<br>
<small>05:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];late_join=1<br>
<small>05:18 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];manifest=1<br>
<small>05:21 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:22 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f7f];simplemake=drone;mob=[0x3000013]<br>
<small>05:23 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006d00];move=1<br>
<small>05:23 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006d00];move=1<br>
<small>05:24 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006d00];move=1<br>
<small>05:37 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>05:37 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f58];simplemake=drone;mob=[0x3000016]<br>
<small>05:49 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>05:49 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f58];simplemake=drone;mob=[0x3000013]<br>
<small>05:50 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006ce2];move=1<br>
<small>05:50 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006ce2];move=1<br>
<small>05:50 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006ce2];move=1<br>
<small>06:04 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>06:04 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f4a];simplemake=drone;mob=[0x3000016]<br>
<small>06:05 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006d00];move=1<br>
<small>06:05 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f4a];secretsfun=movealienship<br>
<small>06:05 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f4a];secretsfun=movealienship<br>
<small>06:26 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>06:28 Virgili555 (usr:Colby Meyers)</small> || /datum/admins src=[0x21006f65];simplemake=drone;mob=[0x3000016]<br>
<small>06:28 Virgili555 (usr:Colby Meyers)</small> || The unknown console src=[0x2006cf1];move=1<br>
<small>14:37 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>14:38 Virgili555 (usr:Thomas Shaw)</small> || /datum/admins src=[0x21006f7f];simplemake=human;mob=[0x3000016]<br>
<small>14:38 Virgili555 (usr:Thomas Shaw)</small> || /datum/admins src=[0x21006f7f];simplemake=drone;mob=[0x3000018]<br>
<small>14:38 Virgili555 (usr:Thomas Shaw)</small> || The unknown console src=[0x2006d4b];move=1<br>
<small>14:38 Virgili555 (usr:Thomas Shaw)</small> || The unknown console src=[0x2006d4b];move=1<br>
<small>14:55 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>14:56 Virgili555 (usr:Apple Hughes)</small> || /datum/admins src=[0x21006f4b];simplemake=drone;mob=[0x3000013]<br>
<small>14:56 Virgili555 (usr:Apple Hughes)</small> || The unknown console src=[0x2006ce2];move=1<br>
<small>14:56 Virgili555 (usr:Apple Hughes)</small> || The unknown console src=[0x2006d3c];move=1<br>
<small>14:56 Virgili555 (usr:Apple Hughes)</small> || The unknown console src=[0x2006d3c];move=1<br>
<small>15:02 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:02 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:02 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:03 Virgili555 (usr:Jonah Wells)</small> || /datum/admins src=[0x21006f82];simplemake=drone;mob=[0x3000013]<br>
<small>15:03 Virgili555 (usr:Jonah Wells)</small> || The unknown console src=[0x2006cf1];move=1<br>
<small>15:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:12 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:13 Virgili555 (usr:Art Christman)</small> || /datum/admins src=[0x21006f9a];simplemake=drone;mob=[0x3000013]<br>
<small>15:13 Virgili555 (usr:Art Christman)</small> || The unknown console src=[0x2006d00];move=1<br>
<small>15:13 Virgili555 (usr:Art Christman)</small> || The unknown console src=[0x2006d00];move=1<br>
<small>15:17 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:19 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];simplemake=drone;mob=[0x3000013]<br>
<small>15:19 Virgili555 (usr:Romayne Bratton)</small> || The unknown console src=[0x2006d3c];move=1<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || The unknown console src=[0x2006d3c];move=1<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || The unknown console src=[0x2006d3c];move=1<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=moveferry<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=moveferry<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=moveferry<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=movealienship<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=movealienship<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=movealienship<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=movealienship<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=movealienship<br>
<small>15:20 Virgili555 (usr:Romayne Bratton)</small> || /datum/admins src=[0x21006f57];secretsfun=moveferry<br>
<small>15:27 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:28 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>15:28 Virgili555 (usr:Kai Stough)</small> || /datum/admins src=[0x21006f4a];secretsfun=movealienship<br>
<small>15:28 Virgili555 (usr:Kai Stough)</small> || /datum/admins src=[0x21006f4a];secretsfun=movealienship<br>
<small>15:28 Virgili555 (usr:Kai Stough)</small> || /datum/admins src=[0x21006f4a];secretsfun=movealienship<br>
<small>15:29 Virgili555 (usr:Kai Stough)</small> || /datum/admins src=[0x21006f4a];simplemake=drone;mob=[0x3000013]<br>
<small>15:29 Virgili555 (usr:Kai Stough)</small> || The unknown console src=[0x2006d4b];move=1<br>
<small>15:29 Virgili555 (usr:Kai Stough)</small> || The unknown console src=[0x2006d4b];move=1<br>
<small>17:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:19 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:20 Virgili555 (usr:Holden Fisher)</small> || /datum/admins src=[0x21006f8e];simplemake=drone;mob=[0x3000017]<br>
<small>17:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:30 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:31 Virgili555 (usr:Andres Heckendora)</small> || /datum/admins src=[0x21006f58];simplemake=drone;mob=[0x3000017]<br>
<small>17:31 Virgili555 (usr:Andres Heckendora)</small> || The marine transport shuttle two console src=[0x200b00d];move=1<br>
<small>17:42 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000013];ready=1<br>
<small>17:43 Virgili555 (usr:Harvey Camp)</small> || /datum/admins src=[0x21006f7d];simplemake=drone;mob=[0x3000017]<br>
<small>17:43 Virgili555 (usr:Harvey Camp)</small> || The marine transport shuttle two console src=[0x200adc0];move=1<br>
<small>17:44 Virgili555 (usr:Harvey Camp)</small> || /datum/admins src=[0x21006f7d];simplemake=human;mob=[0x3000013]<br>
<small>17:44 Virgili555 (usr:Harvey Camp)</small> || The marine transport shuttle two console src=[0x200adc0];move=1<br>
