<small>19:59 Virgili555 (usr:Virgili555)</small> || Virgili555 src=[0x3000016];ready=1<br>
<small>19:59 Virgili555 (usr:Logan Benford)</small> || /datum/admins src=[0x21006f81];simplemake=drone;mob=[0x3000017]<br>
<small>20:00 Virgili555 (usr:Logan Benford)</small> || /datum/admins src=[0x21006f81];simplemake=hunter;mob=[0x3000016]<br>
<small>20:02 Virgili555 (usr:Logan Benford)</small> || _src_=vars;datumedit=[0x2007b66];varnameedit=locked<br>
